@model IEnumerable<eus.UI.Models.Answer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Answers Index</h2>

@*<p>@Html.ActionLink("Create Answer", "Create", new { area = "Vote", controller = "Answers", action="Create" })</p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerTitleURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerTitleURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnswerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnswerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerID })
        </td>
    </tr>
}

</table>
